h1 {
    color: green;
}

h2 {
    color: gold;
    background: green;
}

label:not(.ex) {
    /*Creates deign for submission fourms*/
    display: block;
    float: left;
    width: 120px;
}

h3 {
    font-weight: bold;
    text-align: left;
}

h4 {
    text-align: left;
    margin: 1px;
}

th {
    width: 550px;
}

td {
    height: 75px;
}

td > a > button {
    width: 200px;
    height: 50px;
    background-color: goldenrod;
}

a {
    text-decoration: none;
}

/*Classes*/
.todo {
    text-align: center;
    background-color: whitesmoke;

}

.inProgress {
    background-color: aqua;
    border-color: rgb(1, 208, 208);
    height: 30px;
    border-radius: 15px;
}

.complete {
    background-color: lightgreen;
    border-color: rgb(119, 196, 119);
    height: 30px;
    border-radius: 15px;
}

.notStarted {
    background-color: red;
    border-color: rgb(221, 4, 4);
    height: 30px;
    border-radius: 15px;
}

.title {
    font-weight: bold;
    font-size: larger;
}

/* index.html */
.top-bar {
    background-color: mediumseagreen;
    border-style: none;
    height: 50px;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.top-contain {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* register page */
.submit-button {
    background-color: mediumseagreen;
    border-style: none;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.h {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}