h1 {
    color: green;
}

h2 {
    color: gold;
    background: green;
}

label:not(.ex) {
    /*Creates deign for submission forms*/
    display: block;
    float: left;
    width: 120px;
}

h3 {
    font-weight: bold;
    text-align: left;
}

h4 {
    text-align: left;
    margin: 1px;
}

th {
    font-size: larger;
    height: 75px;
    width: 550px;
}

td {
    height: 75px;
}

td > a > button:not(.exclude){
    width: 200px;
    height: 30px;
    background-color: goldenrod;
    border-style: none;
    color: white;
}

a {
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*Classes*/

/* table on the task page */
.todo {
    text-align: center;
    background-color: whitesmoke;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.inProgress {
    background-color: aqua;
    border-style: none;
    color: white;
    height: 30px;
}

.complete {
    background-color: mediumseagreen;
    border-style: none;
    color: white;
    height: 30px;
}

.notStarted {
    background-color: orangered;
    border-style: none;
    color: white;
    height: 30px;
}

.title {
    font-weight: bold;
    font-size: larger;
}

/* index.html */
.top-bar {
    background-color: mediumseagreen;
    border-style: none;
    color: white;
    height: 50px;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.top-contain {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* register page */
.submit-button {
    background-color: mediumseagreen;
    border-style: none;
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 20px;
}

input[type="submit"] {
    color: white;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.h {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.register-container > form {
    display: flex;
    flex-direction: column;
}

.register-container > form > input {
    padding: 5px;
    margin-top: 20px;
}

.register-container > form > input[type="submit"] {
    background-color: mediumseagreen;
    border-style: none;
    padding: 10px;
}

div.form-item {
    margin-bottom: 20px;
}

.register-head {
    font-size: 25px;
    margin-bottom: 40px;
}

.filter-button {
    margin-top: 50px;
}

.view-page {
    margin-bottom: 20px;
}