<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
</head>

<body>

    <h1>Task Tracker</h1>
    <form action="/add" method="post">
        <div>
            <h3>Add Task</h3>
            <label>Task Title</label>
            <input type="text" name="title" placeholder="Task">
            <br>
            <label>Description</label>
            <input type="text" name="description" >
            <br>
            <label>Due</label>
            <input type="date" name="due" >
            <br>
            <label>Assigned</label> <!--Change to Dropdown of users-->
            <input type="text" name="assigned" placeholder="Enter User">
            <br>
            <button type="submit">Add</button>
        </div>
    </form>
    {% for todo in todo_list %}

    <p> Title:{{ todo.title }} <br>Description:{{ todo.description }}  <br>Due Date:{{ todo.due }}  <br>Assigned To:{{ todo.assigned }}</p>
    {% if todo.complete == 0 %}
    <span>Not Started</span>
    {% elif todo.complete == 1 %}
    <span>In Progress</span>
    {% else %}
    <span>Complete</span>
    {% endif %}
    <a href="/update/{{ todo.id }}">Update</a>
    <a href="/delete/{{ todo.id }}">Delete</a>
    <p>----------------------------------------------------</p>
    {% endfor %}


</body>

</html>