<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<a href="/"><button>Home</button></a>
<body>

    <h1>Task Tracker</h1>
    <form action="/register" method="post">
        <div>
            <h3>Register</h3>
            <label>Name:</label>
            <input type="text" name="name" value="{{ request.form['name'] }}">
            <br>
            <label>Email:</label>
            <input type="text" name="email" value="{{ request.form['email'] }}">
            <br>
            <label>Username:</label>
            <input type="text" name="username" value="{{ request.form['username'] }}">
            <br>
            <label>Password:</label> <!--Change to Dropdown of users-->
            <input type="text" name="password" value="{{ request.form['password'] }}">
            <br>
            <button type="submit">Add</button>
        </div>
    </form>
    <h1>{{message}}</h1>
   </body>
   
   </html>