<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<div class="top-contain">
    <a href="/">
        <button class="top-bar">Home</button>
    </a>
</div>
<body>
    <div class="h">
        <h1>Task Tracker</h1>
    </div>  
    <form action="/register" method="post">
        <div class="register-container">
            <h3 class="register-head">Register</h3>
            <div>
                <label>Name:</label>
                <input type="text" required name="name" value="{{ request.form['name'] }}">
                <br>
                <label>Email:</label>
                <input type="email" required name="email" value="{{ request.form['email'] }}">
                <br>
                <label>Username:</label>
                <input type="text" required name="username" value="{{ request.form['username'] }}">
                <br>
                <label>Password:</label> <!--Change to Dropdown of users-->
                <input type="password" required name="password" value="{{ request.form['password'] }}">
                <br>
            </div>
            <button class="submit-button" type="submit">Add</button>
        </div>
    </form>
    <h1>{{message}}</h1>
   </body>
   
   </html>